
@{
    ViewBag.Title = "Success";
}

<div class="container body-content text-center">
    <br />
    <img src="~/Backgrounds/email.png" width="200" height="200"/>
    <h2>Email sent successfully!</h2>
    <hr />
    <br />
    <div class="btn btn-default">
        @Html.ActionLink("Back", "Index", "Home")
    </div>
    <br /><br />
</div>